/*  NOTES

blue = #0C4A6E
off white = #FAFAFA
grey = #C3C3C4
black = #000000

font family: ariel regular and bold 
*/



/* General CONTAINERS....................................*/

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* "Team Members" set of cards..................*/
.inner-container {
    max-width: 1528px;
    margin: 0 auto;
    padding: 1rem;
}

.team-flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 96px;

    column-gap: 2.0625rem;
    row-gap: 3.25rem;
}

.card-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: #C3C3C4;

    width: calc((100% / 2) - (2.0625rem / 2));
}

.card-container img {
    border-radius: 50%;
    padding-left: 1.75rem
}

.card-text {
    flex-direction: row;
}

.card-container h3 {
    padding-top: 32px;
}

.card-container p {
   padding-bottom: 2rem;
   padding-right: 1.75rem;
}


/* "Service Plans" containers.....................*/
.service-flex-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    gap: 32px;
    margin-bottom: 96px;
}

.service-flex-container section {
    background-color:  #C3C3C4;
    padding: 50px;
    
}




/* Header.........................................*/

header {
    background-color: #0C4A6E;
    color: #FAFAFA;

    margin-bottom: 28px;
}

h1 {
    font-weight: bold;
    font-size: 26px;
    width: 203px;
}


/* Footer.........................................*/

footer {
    background-color: #0C4A6E;
    color: #FAFAFA;
}

footer p {
    font-weight: normal;
    font-size: 16px;
}

footer cite {
    font-weight: normal;
    font-size: 16px;
}




/* General TYPOGRAPHY....................................*/

h2 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 24px;
}

h3 {
    font-weight: bold;
    font-size: 48px;
}

h4 {
    font-weight: bold;
    font-size: 34px;
}

p {
    font-weight: normal;
    font-size: 16px;
}

li {
    list-style: disc;
    font-weight: normal;
    font-size: 16px;
}

.service-flex-container p {
    font-weight: bold;
    font-size: 24px;
    color: #0C4A6E;
}